.exercise-box {
  padding: 3rem 1rem;
  border-radius: 8px;
  background-color: #282c34;
  color: #fff;
}

.exercise-output {
  font-size: 2.5rem;
}

.color-box {
  width: 160px;
  height: 160px;
}

.todo-panel {
  padding: 1rem;
  border-radius: 8px;
  background-color: #f4f4f4;
  color: #212529;
}
